#heroSection {
    display: flex;
    flex-direction: row;
}

#heroSection img {
    width: 62.5vw;
    height: auto;
    padding: 0;
    margin: 0;
}

#heroTxtSection {
    padding: 8rem;
    word-wrap: break-word;
}

#heroTxtSection h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 1.2;
    margin: 2rem 0rem;
}

#heroTxtSection p {
    margin: 0rem 6rem 1rem 0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#recTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 1.2;
    text-align: center;
    margin: 1rem 0rem;
}

#recProducts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

#recProducts div {
    width: 100%;
    height: auto;
}

#recProducts div img {
    width: auto;
    height: 36vh;
}

#recProducts p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

#subSection {
    display: flex;
    flex-direction: row;
    background-color: #26095f;
    margin-top: 3rem;
}

#subSection div {
    width: 100%;
    height: auto;
}

#subSection div img {
    width: 40vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#subTxtSection {
    padding: 8rem;
    word-wrap: break-word;
}

#subTxtSection h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 1.2;
    margin: 2rem 0rem;
}

#subTxtSection p {
    margin: 0rem 6rem 1rem 0rem;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}

#subTxtSection input {
    width: 24vw;
    height: 5vh;
    font-size: large;
}

#subTxtSection button {
    width: auto;
    height: 6vh;
}
