a {
    text-decoration: none;
}

span {
    color: gray;
    text-decoration-line: line-through;
    text-decoration-color: gray;
}

#title {
    text-align: center;
    color: #dbdbde;
}

#productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: auto;
    text-align: center;
    margin: 3rem 1rem;
}

#productContainer div {
    width: auto;
    height: 50vh;
    border: 1px solid black;
    background-color: rgba(7, 100, 187, 0.5);
}

#productContainer div a img {
    width: auto;
    height: 50%;
    margin: 5rem 0rem 1rem 0rem;
    padding: 0;
    border: 1px solid black;
    box-shadow: 0rem 0rem 1rem 1rem rgba(70, 121, 131, 0.5);
}

#productContainer div a img:hover {
    scale: 1.2;
}

#productContainer div a p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #dbdbde;
}

@media (max-width: 768px) {
    #productContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-height: 768px) {
    #productContainer div a img {
        margin: 1rem 0rem;
    }

    #productContainer div a p {
        font-size: 20px;
        margin: 1rem 0rem;
    }
}
